@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-family;
  background: $background-dark;
  color: $text-color;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: $font-family;
  cursor: pointer;
}

input, select, textarea {
  font-family: $font-family;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $background-dark;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 4px;

  &:hover {
    background: lighten($secondary-color, 10%);
  }
}
